body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #4093ff;
}

a:hover {
    color: #ffffff;
    transition: 0.5s;
    transform: scale(1.1);
}